.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 30%;
    background-color: transparent;

}

.navigation ul {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0px 20px;
    background-color: transparent;
}

.navigation ul li {
    list-style: none;
    margin-left: 25px;
    font-size: 14px;
    font-weight: 700;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
}

.navLink {
    text-decoration: none;
    color: white;

}

.navLink:hover {

    color: aquamarine;
}